#container{
    margin: 0 auto;
    width: 360px;
    text-align: center;
    border: 2px solid gray;
}

ul{
    text-decoration: none;
    list-style: none;
}

.striked{
    color: gray;
    text-decoration: line-through;
}